/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.


IDI_ICON1   ICON   DISCARDABLE  "images\\In2Designer.ico"


